
header.masthead {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
 margin-top: 5vh;
  margin-bottom: 10vh;
  width: 80vw;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background:  url("assets/img/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.container{
  margin-top: 5vh;
  
}

header.masthead h1 {
  font-size: 6rem !important;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}



.card-list {
 
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
 
}
@font-face {
  font-family: fontTitle;
  src: url(../src/assets/fonts/Letter\ Marker.ttf);
}

.titleFont{
  font-family: fontTitle;
  font-size: 50%;
}